/* P1.HTML CODE */
.commonAnimation{
    padding: 20px;
    border-radius: 5px;
    margin: 30px;
    height: 300px;
}
.commonAnimation>h1{
    text-align: center;
    color: #fff;
    font-size: 40px;
    text-shadow: 3px 3px 3px #000;
}
.animation1{
    background: black;
    /* animation: nandan;
    animation-duration: 10s;
    animation-iteration-count: infinite; */
    animation: nandan 10s infinite;
}
@keyframes nandan{
    from{background: #fc4a1a;}
    to{background: #0575e6;}
}

/* P2.HTML CODE */
.animation2{
    /* background: url(../image/desktop.jpg)no-repeat center; */
    background-size: 100%;
    animation: animation_image 10s infinite;
}
@keyframes animation_image {
    from{background: url(../image/desktop.jpg) no-repeat top;color: red;}
    to{background: url(../image/banner.jpeg) no-repeat bottom;color: green;}
}
/* P3.HTML CODE */
.animation3{
    background: #fc466B;
    padding: 20px;
    margin: 30px;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    animation: cssAnimation3 10s infinite;
}
@keyframes cssAnimation3 {
    0%{
        top: 0px;
        left: 0px;
        background: #fc466B;
        color: #000;
    }
    25%{
        top: 0px;
        left: 600px;
        background: cadetblue;
        color: red;
    }
    50%{
        top: 600px;
        left: 400px;
        background: chartreuse;
        color: #0575e6;
    }
    75%{
        top: 400px;
        left: 0px;
        background: teal;
        color: grey;
    }
    100%{
        top: 0px;
        left: 0px;
        background: #fc466B;
        color: #000;
    }
}